<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superheroes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
    body {
        background-color: lightgrey;
        padding-top: 40px
    }
    </style>
</head>
<body>
<div class="container">
<div class="row">
    <div class="d-flex justify-content-center"></div>
        <h1>{{result.name}} Details</h1>
        </div>
</div>
</div>


<div class="container">
<div class="row">
    <div class="d-flex justify-content-center"></div>
        <h2><ul>
            <li>Hero Name:  {{result.name}}</li>
            <li>Alter Ego:  {{result.alter_ego}}</li>
            <li>Primary Ability:  {{result.primary_ability}}</li>
            <li>Secondary Ability:  {{result.secondary_ability}}</li>
            <li>Catch Phrase:  {{result.catch_phrase}}</li>
        </ul></h2>
    </div>
</div>
</div>
</body>
</html>