<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superheroes</title>
</head>
<body>
<h1>Superheroes list</h1>
<h2><ul>
    <li>Hero Name:  {{result.name}}</li>
    <li></li>
    <li>Alter Ego:  {{result.alter_ego}}</li>
    <li></li>
    <li>Primary Ability:  {{result.primary_ability}}</li>
    <li></li>
    <li>Secondary Ability:  {{result.secondary_ability}}</li>
    <li></li>
    <li>Catch Phrase:  {{result.catch_phrase}}</li>
</ul></h2>
</body>
</html>